In [7]:
import math
import pandas as pd

print("setup done")

setup done

In [6]:
df = pd.read_csv('./dataset/brazil_report.csv', sep=';', parse_dates=['Sale Date Time'])

print("dataset Loaded")

In [12]:

df['Date'] = pd.to_datetime(df['Sale Date Time'])
df = df.drop(columns=['Sale Date Time'])
df.head()

,Company Code,Order Number,Employee,Product,Product Category,Client,Client City,Product Cost,Discount Amount,Amount,Total,Form of payment,Date
0,39000,12,Stacy Day,Special Gasoline,Fuel,Customer not informed,No City,3.050,0.0,5.642,20.02,Money,2017-03-31 04:10:00
1,39000,21,Olive Stevenson,Special Diesel,Fuel,Customer not informed,No City,2.510,0.0,125.045,350.00,Debit Card,2017-03-31 04:13:00
2,39000,38,Stacy Day,Special Diesel,Fuel,Customer not informed,No City,2.510,0.0,35.699,99.92,Money,2017-03-31 04:25:00
3,39000,39,Olive Stevenson,Lubricant 1108,Lubricant,Customer not informed,No City,7.409,0.0,1.000,13.00,Money,2017-03-31 04:26:00
4,39000,39,Olive Stevenson,Diesel Auto Clean,Fuel,Customer not informed,No City,2.560,0.0,42.162,120.96,Money,2017-03-31 04:26:00

In [36]:
# print(len(df['Client'].unique()))
# print(len(df['Client']))
print(len(df['Order Number']))
print(len(df['Order Number'].unique()))

26951165
2200978