In [1]:
import PyQt5
%matplotlib qt
import math
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.cluster import KMeans
import matplotlib as mpl
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
print("setup done")

setup done

In [9]:
df = pd.read_csv('./sar.csv', sep=',')
# del df['Employee']
# df['Date'] = pd.to_datetime(df['Sale Date Time'])
# df = df.drop(columns=['Sale Date Time'])
# df = df.loc[(df['Client'] != 'Customer not informed')]
# df = pd.read_pickle("./dataset_brazil_ratings.pkl")
# df = df.rename(columns={"Rating_rf_combined_fin": "Rating_rf", "FinRating_indi": "Rating_Cust"})
# df = df.loc[(df['Client'] != 'Customer not informed')]
print("dataset Loaded")

dataset Loaded

In [10]:
df.to_csv('sar.csv',index=False)

In [8]:
df.head()

,Unnamed: 0,Company Code,Order Number,Product,Product Category,Client,Client City,Product Cost,Discount Amount,Amount,Total,Form of payment,Date,ProductId,Rating_rf,Rating_Cust,Rating_Cust_fin,Rating
0,0,1757000,137398,Special Gasoline,Fuel,Barry Barrett,Ruwell,2.83,0.0,4.430,15.01,Money,2017-06-10 15:07:00,116945202798,5.5,482,9.705,7.5
1,1,1757000,137410,Special Gasoline,Fuel,Barry Barrett,Ruwell,2.83,0.0,8.862,30.03,Money,2017-06-10 15:17:00,116945202798,5.5,482,9.705,7.5
2,2,1757000,137413,Special Gasoline,Fuel,Barry Barrett,Ruwell,2.83,0.0,29.508,100.00,Money,2017-06-10 15:21:00,116945202798,5.5,482,9.705,7.5
3,3,1757000,137414,Special Gasoline,Fuel,Barry Barrett,Ruwell,2.83,0.0,14.754,50.00,Money,2017-06-10 15:22:00,116945202798,5.5,482,9.705,7.5
4,4,1757000,137414,Special Gasoline,Fuel,Barry Barrett,Ruwell,2.83,0.0,14.760,50.02,Money,2017-06-10 15:22:00,116945202798,5.5,482,9.705,7.5

In [66]:
len(df['Rating_Cust'])

1628925

In [67]:
df['Rating_Cust_fin'] = pd.qcut( df['Rating_Cust'].rank(method='first'),q=2000, labels = range(1, 2001, 1))
df['Rating_Cust_fin'] = pd.to_numeric(df['Rating_Cust_fin'])

In [69]:
df['Rating_Cust_fin'] = df['Rating_Cust_fin']/200

In [71]:
df['Rating'] = (df['Rating_Cust_fin']+df['Rating_rf'])/2

In [83]:
df['Rating'] = round(df['Rating'],1)

In [82]:
round(7.67,1)

7.7

In [90]:
aa=df['Rating'].value_counts().reset_index()

In [92]:
aa.columns=['Rating','counts']

In [104]:
def rounding_num(row):
    if(row['Rating']<1):
        return 1
    else:
        return round(row['Rating'] * 2) / 2

In [105]:
df['Rating'] =df.apply (lambda row: rounding_num(row), axis=1)

In [110]:
df.to_pickle("./dataset_brazil_ratings.pkl")

In [74]:
df['Rating']

0          7.6025
1          7.6025
2          7.6025
3          7.6025
4          7.6025
            ...
1628920    4.9125
1628921    3.3625
1628922    7.5325
1628923    7.5325
1628924    7.5325
Name: Rating, Length: 1628925, dtype: float64